@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 270px;
  position: absolute;
  bottom: 80px;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
  opacity: 1;
  z-index: 100;
}


.Bx-pitcher-4H{
  width: 266px;
  left: 72px;
  height: 150px;
  background-image: url('../img/4_RENGLONES.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 110px;
  opacity: 0;
  display: flex;
  z-index: 0;
}

.Bx-pitcher-4H .pitcher_data {
  width: 100%;
  height:155px;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: flex;

}
.Bx-pitcher-4H .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
}
.Bx-pitcher-4H .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 28px;
  margin-left: 10px;  
  justify-content: space-between;
}


.Bx-pitcher-4H .logo_picher {
  position: absolute;
  right: 1px;
  height: 150px;
  width: 85px;
  top: -5;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}



.Bx-pitcher-5H{
  width: 266px;
  left: 70px;
  height: 150px;
  background-image: url('../img/5_RENGLONES.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 367px;
  bottom: 80px;
  opacity: 0;
  display: flex;
}

.Bx-pitcher-5H .pitcher_data {
  width: 100%;
  height:155px;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-top: 2px;
  display: flex;

}
.Bx-pitcher-5H .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
}
.Bx-pitcher-5H .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 28px;
  margin-left: 10px;  
  justify-content: space-between;
}


.Bx-pitcher-5H .logo_picher {
  position: absolute;
  right: 2px;
  height: 150px;
  width: 85px;
  top: -5;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}



.Bx-pitcher-6H{
  width: 266px;
  left: 70px;
  height: 150px;
  background-image: url('../img/6_RENGLONES.png');
  background-repeat: no-repeat;
  background-size:contain;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  display: flex;
 

}

.Bx-pitcher-6H .pitcher_data {
  width: 100%;
  height:200px;
  color: #fff;
  font-size: 18px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.Bx-pitcher-6H .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2px;
}
.Bx-pitcher-6H .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 20px;
  margin-left: 10px;  
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}


.Bx-pitcher-6H .logo_picher {
 position: absolute;
 right: 2px;
 height: 150px;
 width: 85px;
 top: -5;
 text-align: center;
 overflow: hidden;
 box-sizing: border-box;
 z-index: 0;
}















.Bx-pitcher-4V{
  width: 264px;
  left: 72px;
  height: 150px;
  background-image: url('../img/4_RENGLONES.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  display: flex;

}

.Bx-pitcher-4V .pitcher_data {
  width: 100%;
  height:155px;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: flex;

}
.Bx-pitcher-4V .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
}
.Bx-pitcher-4V .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 28px;
  margin-left: 10px;  
  justify-content: space-between;
}


.Bx-pitcher-4V .logo_picher {
  position: absolute;
  right: 1px;
  height: 150px;
  width: 85px;
  top: -5;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}



.Bx-pitcher-5V{
  width: 264px;
  left: 72px;
  height: 150px;
  background-image: url('../img/5_RENGLONES.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  display: flex;
}

.Bx-pitcher-5V .pitcher_data {
  width: 100%;
  height:155px;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-top: 2px;
  display: flex;

}
.Bx-pitcher-5V .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
}
.Bx-pitcher-5V .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 28px;
  margin-left: 10px;  
  justify-content: space-between;
}


.Bx-pitcher-5V .logo_picher {
  position: absolute;
  right: 2px;
  height: 150px;
  width: 85px;
  top: -5;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 0;
}



.Bx-pitcher-6V{
  width: 264px;
  left: 72px;
  height: 150px;
  background-image: url('../img/6_RENGLONES.png');
  background-repeat: no-repeat;
  background-size:contain;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  display: flex;
 

}

.Bx-pitcher-6V .pitcher_data {
  width: 100%;
  height:200px;
  color: #fff;
  font-size: 18px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.Bx-pitcher-6V .cont-data {
  width: 200px;
  height:150px;
  font-size: 18px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  margin-top: 2px;
}
.Bx-pitcher-6V .cont-data div {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: 20px;
  margin-left: 10px;  
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}


.Bx-pitcher-6V .logo_picher {
 position: absolute;
 right: 2px;
 height: 150px;
 width: 85px;
 top: -5;
 text-align: center;
 overflow: hidden;
 box-sizing: border-box;
 z-index: 0;
}











