@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 224px;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
  left: 233px;




}

.container .entreinnings{
  width: 606px;
  height: 220px;
  position:relative;
  top: 0;
  opacity: 0;
  margin-top: 20px;

 


  
}
.container .entreinnings .cont_che_alta_baja{
  width: 355px;
  height: 35px;
  position:relative;
  top: 30px;
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;

 
  
}
.container .entreinnings .cont_che_alta_baja div:nth-child(1){
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-color: black;
  margin-left: 20px;
  margin-top: 3px;
  position: absolute;
 

}
.container .entreinnings .cont_che_alta_baja div:nth-child(2){
  background-image: url('../img/CHE.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  right: 0;
  opacity: 0;
}
.container .entreinnings .cont-patrocinador{
  width: 330px;
  height: 150px;
  position:absolute;
  bottom: 5px;
  right: 15px;
  background-image: url('../img/cont-patrocinio.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  overflow: hidden;
  z-index: 0;
  opacity: 0;

  
}
.container .entreinnings .cont-patrocinador  div{
 position: absolute;
 width: 210px;
 height: 136px;
 right: 10px;
 top: 10px;
 display: flex;
 align-items: center;

  
}

.container .cont_innings{
  width: 380px;
  height: 155px;
  position:absolute;
  bottom:0;
  background-image: url('../img/cambio_piche.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 40px;
  background-position: right;

 

}
.cont-logo{
  width: 100%;
  height: 65px;
  display: flex;
  position: relative;
  margin-left: 35px;
 

}

.logo{
  width: 160px;
  height: 70px;
  margin-left: 10px;

 
}
.cont-logo .number_data{
  width: 60px;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative; 
  font-size: 35px;
}
.cont-logo .number_data div{
  position: absolute;
}
.cont-logo .number_data div:nth-child(1){
  left: 20px;
}
.cont-logo .number_data div:nth-child(2){
  left: 85px;
}




 .cont-base div {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transform: rotate(-46deg) skew(15deg, 10deg);
  
}

.cont-base div:nth-child(1) {
  left: 68px;
  top: 42px;
 
}

 .cont-base div:nth-child(2) {
  left: 40px;
  top: 25px;
}

 .cont-base div:nth-child(3) {
  left: 12px;
  top: 42px;

 
}


 .cont-base {
  width: 110px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  position: absolute;
  right:20px;
  z-index: 500;
  top:25px;
  background-image: url('../img/bases.png');

}

.outs {
  width: 90px;
  height: 20px;
  background-position: center;
  position:absolute;
  bottom: 7px;
  right: 33px;
 bottom: 33px;
 display: flex;
 align-items: center;
 column-gap: 5px;
 justify-content: center;
}

.outs div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: relative;


}



.outs1.activate {
  background-color: rgb(255, 0, 0);
  margin-left: 3px;
}

.outs2.activate {
  background-color: rgb(255, 0, 0);
  margin-left: 3px;
}

